/*****************************************************************************************************************************/
/*****************************************************************************************************************************/
/*************************** (SECTION 4) Payment Method (VISA, etc.) and button **********************************************/
/*****************************************************************************************************************************/
/*****************************************************************************************************************************/

.checkout-payment-container { /* Container for entire 'Payment Method' section */
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;             /* Classic grey background */
  border: 2px solid #000;          /* Strong black border */
  border-radius: 0;                  /* Sharp corners */
  box-shadow: 4px 4px 0 #808080,
             -4px 4px 0 #808080;   /* Hard shadow for depth */

  padding: 12px;
  margin: 3rem auto auto auto;

  max-width: 560px;
  width: 84%;                     
  height: auto;
}


.checkout-payment-header { /* subheader for payment method */
    width: 96%;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 330px) { /* header font scales for 
                                          extremely small screen width*/
  .checkout-payment-header { 
    font-size: clamp(1rem, 7.75vw, 1.6rem);
  }
}


.checkout-payment-label-and-input { /* wrapper with both credit card
                                      field value and input text box */
  display: flex;
  flex-direction: row;
  align-items: center; /*vertically centers labels/inputs for flex */
  width: 96%;
  margin-top: 1rem;

  justify-content: space-between;
}

.checkout-payment-label {/* credit card field label styling */
  font-size: 0.9rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #32325d;

  width: 120px; /* label width */
}

@media screen and (max-width: 360px) {
  .checkout-payment-label { font-size: 0.8rem; }
}

.checkout-payment-stripe-input { /* wrapper used to create consistent 
                                    'Stripe' input box look*/
  width: 300px;
  height: 28px;
  box-sizing: border-box;

  padding: 0.35rem 0.4rem;
  border-radius: 6px;
  border: 1px solid #ccc;

  background-color: #f6f9fc;

  cursor: text;
}

.checkout-payment-stripe-input input { /* styling for custome postal code input */
    font-family: Arial, Helvetica, sans-serif;
    background-color: inherit;
    color:#32325d;
    font-size: 16px;
    width: clamp(160px, 3vw, 300px);
}
.checkout-payment-stripe-input input::placeholder { /*place holder styling */
    color: #aab7c4;
}



.checkout-payment-submit button { /* Payment button styling (and on hover)*/
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  color: white;

  background-color: #d46b08;

  border: none;
  margin-top: 1.6rem;
  padding: 0.8rem 1.2rem;
  box-shadow: 2px  2px 0 #808080,
              -2px 2px 0 #808080; 

  cursor: pointer;
}
.checkout-payment-submit button:hover {
  background-color:#8b400d; /*#5469d4;*/
}

.checkout-payment-submit button:active {
  transform: scale(0.9);
}


