/* Below are the stylings for the (Section #4) 
 * payment method's (VISA, etc.) field labels and inputs.
 */



/****************************************************************************************************************/
/********************* Payment section header text **************************************************************/
/****************************************************************************************************************/

.checkout-payment-header { /* subheader for payment method */
    width: 96%;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 330px) { /* header font scales for 
                                          extremely small screen width*/
  .checkout-payment-header { 
    font-size: clamp(1rem, 7.75vw, 1.6rem);
  }
}

/****************************************************************************************************************/
/********************* Payment section field labels and inputs **************************************************/
/****************************************************************************************************************/

.checkout-payment-label-and-input { /* wrapper with both credit card
                                      field value and input text box */
  display: flex;
  flex-direction: row;
  align-items: center; /*vertically centers labels/inputs for flex */
  width: 96%;
  margin-top: 1rem;

  justify-content: space-between;
}

.checkout-payment-label {/* credit card field label styling */
  font-size: 0.9rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #32325d;

  width: 120px; /* label width */
}

@media screen and (max-width: 360px) {
  .checkout-payment-label { font-size: 0.8rem; }
}

.checkout-payment-stripe-input{ /* wrapper used to create consistent 
                                    'Stripe' input box look*/

  width: 296px;
  height: 26px;
  box-sizing: border-box;

  padding: 0.2rem 0.4rem;
  justify-content: center;
  border-radius: 6px;
  border: 2px solid #ccc;

  background-color: #f6f9fc;

  cursor: text;
}

/* border red when Stripe field marked as invalid */
.invalid-stripe-field { 
  border: 2px solid red !important;
  background-color: #fff0f0 !important;
}
.invalid-field-entered { 
  border: 2px solid #ccc !important;
  background-color: inherit !important;
  color: red;
}


.checkout-payment-stripe-input input { /* styling for custom postal code input */
    font-family: Arial, Helvetica, sans-serif;
    background-color: inherit;
    color:#32325d;
    font-size: 16px;
    width: clamp(160px, 3vw, 300px);
}
.checkout-payment-stripe-input input::placeholder { /*place holder styling */
    color: #aab7c4;
}

