/***************************************************************/
/**** General styling for cart item wrapper and content ********/
/***************************************************************/

.cart-item-wrapper { /* wrapper for cart item */
    width: 98%;
    height: 150px;
    display: flex;
    flex-direction: row;
    border: 1px solid seagreen;
    border-radius: 12px;
    margin: 2px;

}

.cart-item-content { /*content within wrapper*/
    margin: 2px; /* margin around content from wrapper's edge */

    border: 1px solid rgb(4, 117, 53);
    border-radius: 12px;

    display: flex;
    flex-direction: row;
    width: 98%;
}

/***************************************************************/
/************ Styling for image and image wrapper **************/
/***************************************************************/

.cart-item-img-wrapper { /* image wrapper */
    width: 25%;
    max-width: 120px;
    aspect-ratio: 1;
    overflow: hidden;
    border: 2px solid grey;
    border-radius: 6px;
    margin: auto 2% auto 2%;
    box-shadow: 0px 0px 10px rgb(85, 85, 85);
}

.cart-item-image { /* styling of image itself*/
    aspect-ratio: 1;
    height: 100%;
    width: auto;
}

/***************************************************************/
/************ Styling for info and buttons container ***********/
/***************************************************************/

.cart-item-info-buttons { /* wrapper holds cart item data AND buttons*/
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 55%;
    /*border: 1px solid blue;/**/
    margin: auto 2% auto 2%;
}

.cart-item-info { /* wrapper for cart item info */
    display: flex;
    flex-direction: column;
    /*border: 1px solid rgb(255, 0, 106);/**/
}

#cart-item-name { /* cart item's name */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 2%;
}

#cart-item-price-total { /* cart item's total price fur current quantitiy */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 2%;
}

#cart-item-price-each { /* price for EACH cart item */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: grey;
}

/***************************************************************/
/******* Styling for add and decrease quantity buttons *********/
/***************************************************************/

.cart-item-buttons { /* container for increase/decrease buttons 
                        as well as current product quantitity */
    display: flex;
    flex-direction: row;
    /*border: 1px solid blue;/**/

    height: 100%;
    /*justify-content: center;/* aligns buttons horizontally */
    align-items: center; /* aligns buttons vertically */
    margin-left: 0.5rem;
}

.decrease-by-one, 
.increase-by-one,
.diable-decrease,
.diable-increase {  /* general styling for quantity increase and decrease
                       buttons as well as for their disabled button counterparts */
    
    border-radius: 50%; /* make button have a 'circle' border for circle button */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    width: 1rem;
    height: 1rem;
    text-align: center;
}

.decrease-by-one, 
.increase-by-one { /* styling for increase and decrease buttons */
    color: black;
    border: 1px solid black;
    background-color: antiquewhite;
}
.decrease-by-one:active, 
.increase-by-one:active { /*decrease size on press*/
    transform: scale(0.95);
}

.diable-decrease, 
.diable-increase { /* styling for disabled increase and decrease button */
    color: rgb(218, 218, 218);
    border: 1px solid rgb(61, 61, 61);
    background-color: rgb(83, 83, 83);

    pointer-events: none;
    opacity: 0.6;
}

.cart-quantity { /*current cart quantity */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;    
}

/***************************************************************/
/******* Styling for button to delete item from cart ***********/
/***************************************************************/

.delete-item-button {

    margin: auto 3% auto 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    height: 3.5rem;
    aspect-ratio: 1;
    color: rgba(0, 0, 0, 0.637);
    background-color: rgb(196, 196, 196);
    border: 1px solid black;
    border-radius: 20%;

    display: flex;
    justify-content: center; /* horizontally align text in fexl*/
    align-items: center;/* vertically align text in flex*/
}