/********************************************************************************/
/************** General design stylings for profile button **********************/
/********************************************************************************/

.profile-bttn-container {
    display: flex; /* Flex display for easy centering of button */
    align-self: center; /* vertical centering of button */
    margin: 0 auto;

    border: 1px solid #545c75c7; /* border styling of container */
    border-radius: 30%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.281);

    overflow: visible;/*hidden; /* container content styling */
    background-color: #2394e0;

    width: 2.2rem; /* overall button dimensions*/
    height: 2.2rem;

    /* TEMP margins to remove later */
   /* margin-right: 1rem; 
    margin-left: 1rem;*/

    position: relative;
    cursor: pointer;
}

.user-icon { /* icon color & size styling */
    color: beige;
    align-self: center; /* vertical centering in parent's flex display */
    margin: 0 auto; /* hortizontal centering */
    width: 1.5rem;
    height: 1.5rem;
}


.profile-bttn-container:hover {  /* Profile button color change on hover*/
    background-color: #136196; 
}

.profile-bttn-container:hover .user-icon { 
    color: beige; 
}

.profile-bttn-container:active { /* Shrink button on press */
    transform: scale(0.9);
}

/********************************************************************************/
/************** Stylings for dropdown menu once logged in ***********************/
/********************************************************************************/

.dropdown-menu {
  position: absolute;
  top: 2.5rem;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-width: 140px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  z-index: 10;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  border-bottom: 1px solid #eee;

  user-select: none;
  transition: background-color 0.2s;

}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-item:last-child {
  border-bottom: none;
}