/************************************************************************************/
/*********** Full Styling for dropdown menu (for mobile screen sizes) ***************/
/************************************************************************************/

.no-link-style { /* Removes default style of <Link> components */
    color: inherit;
    text-decoration: none;
}

.custom-dropdown { /* Styling for dropdown container */

    display: flex;      /* drop-down components in column */
    flex-direction: column;
    position: relative; /* for later absolutely positioned item(s)*/
    align-items: center;

    height: 1.5rem; /* dropdown menu container dimensions*/
    width: 190px;
    margin: auto 0;

    font-size: 1.4rem; /* font styling inside dropdown*/
    font-family: Arial, Helvetica, sans-serif;

    border-radius: 10px; /* dropdown styling*/
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    background-color: white;

    user-select: none; /* prevents text selection in container (prevent awkward highlights) */
    cursor: pointer;
}

.dropdown-box { /* Styles visible category selection value and drop-down arrow */

    display: flex; /* Selection and arrow in side-by-side display */
    flex-direction: row;
    width: 100%;

    border-radius: 0 10px 10px 0;
    overflow: hidden; /* hides overflow of background color around arrow*/
}

.dropdown-box .current-selection,
.dropdown-box .current-selection-mobile { /* Positions selection choice text */

    padding: 0.05rem 0 0 1.35rem; /* padding to position text inside 'current selection' text area */
    font-size: 1.25rem;

    width: 145px; /* default 'current-selection' arean width */

    white-space: nowrap; /* uses ellipsis it text too long */
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-box .current-selection-mobile{ display: none;}

.dropdown-box .toggle-arrow { /* styles and positions arrows*/
    background-color: #d4d4d4;
    padding: 0 4px 0 0;
}

.menu-options { /* styles dropdown options box*/
    position:absolute;
    top: 24.5px;
    left: 10px;
    width: 153px;
    background-color: white;
    cursor: pointer;
    border-radius: 0 0 6px 6px;

    box-shadow: /* shadows around dropdown option when opened*/
    3px 3px 3px rgba(0, 0, 0, 0.05),  /* Bottom and right shadow */
    -3px 3px 3px rgba(0, 0, 0, 0.05), /* Bottom and left shadow */
    -3px 0 3px rgba(0, 0, 0, 0.05);   /* Left shadow */
}

.menu-options .option { /*positioning of each option */
    margin: 0.1rem;
    padding-left: 0.65rem;
    border-radius: 4px;
}

.menu-options-divider { /* grey divider line between menu options */
    width: 95%;
    height: 1px;
    border-radius: 50%;
    background-color: rgba(216, 216, 216, 0.5);
    margin: 0.05rem auto;
}


.menu-options .option:hover { /* styling on hover. '!important' used to prevent override*/
    color: #fff !important;
    background-color: #136196 !important; /*#94d4ff !important; */
}



/************************************************************************************/
/************ Full Styling for Buttons (on desktop screen size) *********************/
/************************************************************************************/

.buttons-container { /* contains the buttons */
    display: flex; /* flex layout with item in row*/
    flex-direction: row;
    align-self: center; /* vertical centering of container */
    margin: auto 0;     /* removes margins on left and right sides of container*/
    flex-grow: 0.5; /* container grows to take available width */
}

.button { /* button style*/

    font-weight: 600; /* font styling of button text */
    font-family: Arial, Helvetica, sans-serif;

    /* NOTE: button and text color set/modified in menuCategories.jsx file */

    margin: auto; /* centers buttons in parent container*/

    border: 1px solid #1d81c4; /* button border styling*/
    box-shadow: 0 0 5px #18679cd0;
    border-radius: 0.4rem;

    padding: 0.5rem; /* styles button shape and dimensions*/
    height: fit-content;
    
    cursor: pointer;

    outline: none; /* no dark outline on press/hold as result of Google browser */
}

.button:hover { /* button style on hover */
    background-color: #227ab4 !important; /* !important prevents override by front-end button color logic*/
    border: 1px solid #125e91;
    box-shadow: 0 0 5px #125e91d0;
}
.button:active { /* button style on press */
    transform: scale(0.9);
}


@media screen and (max-width: 900px) { /* at <=900px, hide product category buttons 
                                          and show categories dropdown menu */
    .buttons-container {
        display: none;
    }
    .custom-dropdown { /* centers dropdown-menu in parent menu container */
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 901px) { /* Hide product categories dropdown box past 900px */
    .custom-dropdown {
        display: none;
    }
}

@media screen and (max-width: 450px) {  /* Shrink down dropdown box to fit 360-468px screen width*/
    .custom-dropdown { /* Shorten dropdown box width */
        width: 130px;
    }
    .dropdown-box .current-selection { /* scale down current selection text in dropdown box */
        line-height: 1.6rem;
        font-size: 0.85rem;
        padding-left: 0.65rem;
    }
    .menu-options { /* shrink width of toggled menu options box below */
        width: 93px;
    }  
    .menu-options .option { /* menu box option */
        font-size: 0.9rem;
        padding-left: 0.2rem;
    }
}

@media screen and (max-width: 359px) { /* styling for smallest screens*/

    .custom-dropdown { /* Shorten dropdown box width */
        width: 100px;
        border-radius: 3px;
    }
    .dropdown-box { border-radius: 3px; }

    .dropdown-box .current-selection { display: none; }

    .dropdown-box .current-selection-mobile { /* scale down current selection text in dropdown box */
        display: block;
        line-height: 1.6rem;
        font-size: 0.85rem;
        padding-left: 0.45rem;
    }
    .menu-options { /* shrink width of toggled menu options box below */
        width: 93px;
        left: 3px;
    }  
    .menu-options .option { /* menu box option */
        font-size: 0.9rem;
        padding-left: 0.2rem;
    }
}