.app-body {
    width: 100%;
    margin: 0;
    padding: 0 0 2rem 0; /* Due to bottom-most page components touching screen bottom,
                          * and with bottom-margin not working, 2rem bottom padding add some
                          * much needed bottom space. HOWEVER, it doesn't inherit any
                          * background colors and this leaves white space below (revist issue later!!!!)      
                          */

    min-height: 100vh !important;        /* ✅ Ensures it stretches full viewport height */
    box-sizing: border-box !important;   /* ✅ Includes padding in height calculation */

    position: relative; /* Relative so Menu & Cart can 'float' via absolution positioning */
}