.field-wrapper { /* Main wrapper for entire field */

    display: flex; /* Flex items in row*/
    flex-direction: row;
    width: 100%;    /* matches parent element */
}

.field-label { /* styling for field label */

    display: flex;
    flex-basis: 30%;     /* Fixed width for label with flex parent */
    align-items: center; /*vertically center text in flex*/

    padding: 0.75rem 0 0.75rem 1rem; /* background and container shape */

    font-weight: bold; /* label font styling*/
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.85rem;
    text-align: left;

    white-space: normal; /* enables wrapping of text in container */
}

.field-value-display-wrapper { /* wrapper holds input field and value (both original and editable) */
  display: flex; /* flex items in row*/
  flex-direction: row;
  flex: 1;      /* ensures item wrapper takes up any remaining space, 
                   espcially since label uses 30% width of parent container. 
                   Also needed to work with the 'flex:1' used in the field-value and field-input-box.
                   */

  min-width: 0; /* Prevents overflow growth */
}

.field-value-display {  /* General styling for both input box and displayed field value */

  flex: 1 1 0; /* Ensures input box and displayed field value grows/shrinks using available width.
                * This applies as long as current OR parent element uses 'display:flex'.
                * Also, 'display:flex' is avoided since it conflicts with text overflow ellipsis.
                */

  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
  line-height: 1.5rem; /* This vertically 'pseudo-centers' the text without using display:flex */
  padding: 0.9rem 0.4rem;

  white-space: nowrap; /* Add ellipsis(...) for overflowing text */
  overflow: hidden;
  text-overflow: ellipsis;
}


.empty-buttons { /* wrapper holds value-editing options buttons */
    display: block;
    width: 86px;
}


@media screen and (max-width: 480px) { /* adjust styling for mobile screens */

    .field-value-display-wrapper { /* vertically centers items in wrapper */
        align-items: center;
    }

    .field-label { /* adjust field label for smaller screen size */
        font-size: 0.75rem;
        text-indent: 5px;
        justify-content: center; /*horizontally center text in flex*/
        text-align: center;
        flex-basis: 25%;
        line-height: 1.2rem; /*vertically centers text without flex (which removes ...)*/
        padding: 0.75rem 0.3rem
    }
    .field-value-display{
        text-align: center;
        font-size: 0.75rem;
        text-indent: 5px;
    }
}

