.product-details-page-full {
  display: flex;
  min-width: 100vw !important;
  min-height : calc(100vh - var(--footer-height)) !important; /* subtracts footer height from visual height via variable */
}