.product-details-page-full {
  display: flex;
  min-width: 100vw !important;
  min-height: 100vh !important;

  /* Background image for entire app */
  background-image: var(--background-image);
  background-size: var(--background-img-size);

  position: relative;
}