.profile-page-wrapper-full { /* wrapper to hold page content AND make bottom space for footer */
  display: flex;
  min-width: 100vw !important;
  min-height: 100vh !important;

  /* Use this since background from BasePageLayout not showing properly */
  background-image: var(--background-image);
  background-size: var(--background-img-size);

  position: relative;
}

.profile-info-grid { /* Main porfile <form> container */
    display: flex;
    flex-direction: column;
    align-items: center; /* vertically center items in flex */

    background-color: white;

    margin: 100px auto calc(3rem + var(--footer-height)) auto; /* Avoids header menu, centers profile, and make bottom space from footer */

    width: 94%; /* profile form dimensions */
    max-width: 560px;

    border-radius: 10px; /* border styling */
    border: 1px solid #368bda;
    box-shadow: 0px 0px 6px 5px rgba(11, 101, 180, 0.7);
}

#profile-header-1 { /* First profile section's header title */
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
    text-align: center;
}

#profile-header-2 { /* Second profile section's header title */
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 2rem 1rem 2rem;
    text-align: center;
    white-space: normal;
}

#profile-header-2::after{ /* second text part of 2nd header title */
    content:' (products ONLY shipped within U.S. currently)';
    font-size: 1rem;
}

#profile-submit { /* Styling submit button */

    font-size: 1.25rem; /* Button text styling*/
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.9);

    border: 1px solid rgb(177, 94, 255); /* border styling */
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px rgba(155, 85, 221, 0.6);

    margin: 1.75rem auto; /* button dimensions*/
    padding: 0.5rem;
    
    background-color: rgb(117, 41, 189); /*button color*/

    cursor: pointer;
}

#profile-submit:hover { /* form submit button on hover */
    background-color: rgb(94, 26, 158);
    border: 1px solid rgb(110, 29, 185); 
    box-shadow: 0px 0px 3px 2px rgba(155, 85, 221, 0.75);
}

#profile-submit:active{ /* form submit button on active press */
    transform: scale(0.9);
}
