/****************************************************************************/
/********** Main wrapper class for holding products *************************/
/****************************************************************************/

.products-wrapper { /* Wrapper for products display grid */
    margin: 30px auto auto auto;
    width: 90%;
    max-width: 900px;
}

 /* fixes scaled wrapper and top-margin for smaller screens for better visuals*/
@media screen and (max-width: 800px) {
  .products-wrapper {
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  .products-wrapper{
    margin-top: 60px;
  }
}

/****************************************************************************/
/********** Various grids for product presentation **************************/
/****************** across various screen sizes *****************************/
/****************************************************************************/


.products-grid { /* Actual styling to enable grid display */
    display: grid;

    /* 4-Column Grid
     * Below:        "grid-template-columns: repeat(4, 1fr)" => "repeat 4 times 1fr ("1 fraction of available width")" 
     * Alternative:  "grid-template-columns: 1fr, 1fr, 1fr, 1fr;"
     * Since there are 4 '1fr', that means each grid-item in row takes 1/4th of total width
     */
    grid-template-columns: repeat(4, 1fr); 

    gap: 20px;
}

@media screen and (max-width: 1080px) { /* For smaller screens, use 3 columns instead of 4*/
  .products-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 column on between tablet- and desktop-sized screens */
    gap: 25px;
  }
}

@media (max-width: 800px) { /* For smaller screens, use 2 columns instead of 4*/
  .products-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet-sized screens */
  }
}

@media (max-width: 480px) {
    .products-grid {
    grid-template-columns: 1fr; /* 1 column on mobile screens */
  }
}



