
.products-wrapper { /*Wrapper for products display grid*/
    width:90%;
    max-width: 1200px;
}

.products-grid { /* Actual styling to enable grid display */
    display: grid;

    /* 3-Column Grid
     * Below:        "grid-template-columns: repeat(3, 1fr)" => "repeat 3 times 1fr ("1 fraction of available width")" 
     * Alternative:  "grid-template-columns: 1fr, 1fr, 1fr;"
     * Since there are 3 '1fr', that means each takes 1/3rd of total width , hence 3x3 gird
     */
    grid-template-columns: repeat(3, 1fr); 

    gap: 20px;
}

@media (max-width: 800px) { /* For smaller screens, use 1 column instead of 3*/
  .products-container {
    grid-template-columns: repeat(1, 1fr); /* 1 column on small screens */
  }
}