/*****************************************************************************/
/************ Checkout's Final Cart Section styling **************************/
/*****************************************************************************/

.cart-checkout-container { /* Holds main content of Final Cart in Checkout */

    display: flex;      /* items in flex-column orientation */
    flex-direction: column;
    position: relative; /* Needed for absolute positioning of 'close cart' button (and the cart header) */

    width: 100%; /* size matches parent container */
    max-width: 800px;

    margin: 0.5rem auto;
}

/*****************************************************************************/
/************* Checkout Cart items container's styling ***********************/
/*****************************************************************************/

.cart-checkout-items-wrapper { /* holds the .cart-items container for cart-item cards */
    
    margin: 0rem 0.4rem; /*cart items container dimensions */
    width: auto;

    height: 404px;/*  Necessary to scale correctly for various (responsive) 
                   *  screen heights and not have anything cut off.
                   *  NOTE: adding "min-height", "max-height", or "height:auto"
                   *        causes the child class's "overflow-y:auto" to fail.  
                   */

    /* border styling */
    border-radius: 2px; 
    border: 1px solid rgba(0, 0, 0, 0.90);
    box-shadow: 1px 1px #9c9c9c,
                -1px 1px #9c9c9c,
                1px -1px #9c9c9c,
                -1px -1px #9c9c9c;

    overflow: hidden; /* MAIN reason for wrapper class: used to 'clip' vertical scroller 
                         in .cart-item at the rounded corners */
}

.cart-checkout-items { /* Area where items added to cart are displayed */
    width: 100%;
    height: 100%;
    overflow-y: auto; /* scroll triggers only when cart items exceed container size*/
    background-color: rgb(248, 248, 248);
}

@media screen and (max-width: 480px) { /* width items container width for a bit more space */
    .cart-checkout-items-wrapper {
        margin: 0 0.2rem;
    }
}


/*****************************************************************************/
/*************************** Scrolling thumb styling *************************/
/*****************************************************************************/

::-webkit-scrollbar { /* The entire scrollbar */
  width: 6px;
  background: #d6d6d6;
}

::-webkit-scrollbar-thumb { /* The draggable part (thumb) */
  background: #575757;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover { 
  background: #464646;
}