/*******************************************************************************/
/************* Main wrapper holding field value and text box *******************/
/*******************************************************************************/

.field-wrapper { /* Main wrapper for entire field */
    display: flex; /* Flex items in row*/
    flex-direction: row;
    width: 100%;    /* matches parent element */
}

/*******************************************************************************/
/************* Main wrapper holding label for field value **********************/
/*******************************************************************************/

.field-label { /* styling for field label */
    display: flex;
    flex-basis: 30%;     /* Fixed width for label with flex parent */
    align-items: center; /* vertically center text in flex */

    padding: 0.75rem 0 0.75rem 1rem; /* background and container shape */

    font-weight: bold; /* font styling for label */
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 0.85rem;
    text-align: left;

    white-space: normal; /* enables wrapping of text in container */
}

/*******************************************************************************/
/******* Wrapper holding field value, input boxes, and editing buttons *********/
/*******************************************************************************/

.field-value-buttons-wrapper { /* wrapper holds input field and value (both original and editable) */
  display: flex; /* flex items in row */
  flex-direction: row;
  flex: 1;      /* ensures item wrapper takes up any remaining space, 
                 * espcially since label uses 30% width of parent container. 
                 * Also needed to work with the 'flex:1' used in the field-value and field-input-box.
                 */
  min-width: 0; /* Needed to enable overflow handing by 'ellipsis' in nested <div> */
}

/*******************************************************************************/
/******* Style handling of field value AND input boxes *************************/
/*******************************************************************************/

.field-value,
.field-input-box {  /* General styling for both input box and displayed field value */

  display: flex; /* vertically center field values and input box via flex*/
  align-items: center;

  flex: 1 1 0; /* Ensures input box and displayed field value 
                  grows/shrinks using available width. */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.85rem;
}

.field-value { /* specified padding around field values */
    padding: 0.5rem 0.4rem;
    min-width: 0; /* Allow it to shrink to enable ellipsis in <span> to trigger! */
}

.field-value span { /* <span> used to handle overflow since "ellipsis" 
                       IS NOT directly compatible with "display:flex" in parent */
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.field-input-box { /* specific styling for input box */
  min-width: 0%;   /* enables <input> box to scale down 
                      past built-in default min-width */

  padding:0.5rem 0.5rem 0.5rem 0; /* text box area styling */
  border-radius: 10px;
  text-indent: 6px;

  background-color: rgb(230, 230, 230); /* grey highlighted background 
                                             showing text box active */
  background-clip: content-box; /* prevents background-color as part of padding */

  white-space: nowrap; /* prevent text from wrapping and hides overflow in textbox
                          Also, 'text-overflow: ellipsis' isn't useful for textbox */
  overflow: hidden;
}

input { /* gets RID of default outline when focusing in an <input> box  */
    outline: none;
    border: none;
}

/*******************************************************************************/
/******* Styling for editing buttons and its wrapper ***************************/
/*******************************************************************************/

.edit-buttons { /* wrapper holds value-editing options buttons */

    display: flex; /* buttons are in row for flex display */
    flex-direction: row;

    align-items: center;     /* horizontal centering of flex items (also somehow 
                                prevents buttons' padding from vertically growing) */

    justify-content: center; /* vertical centering of flex items */
    
    flex: 0 0 86px;  /* Do not grow or shrink, fixed at 86px */
    flex-basis: 86px; /* Fixed button wrapper width for flex object */
    gap: 4px;         /* gap space between buttons */
    padding: 0 4px;   /* padding on left and right of wrapper */
}

.edit-buttons button { /* pads area inside each button to make button bigger */
    padding: 0.2rem;
}

/*******************************************************************************/
/******* Styling for mobile device sizes (<=480px) *****************************/
/*******************************************************************************/

@media screen and (max-width: 480px) { /* adjust styling for mobile screens */

    .field-value-buttons-wrapper { /* vertically centers items in wrapper */
        align-items: center;
    }

    .field-input-box { /* adjusted styling for input box for mobile screens */
        font-size: 0.75rem;
        padding: 0.05rem;
        height: 1.6rem;
        border-radius: 6px;
    }

    .edit-buttons { /* reduce padding for smaller screens */
        padding: 0px 1px;
    }

    .edit-buttons button { /* adjust button padding for smaller screen*/
        padding: 0.05rem;
        font-size: 0.75rem;
    }

    .field-label { /* adjust field label for smaller screen size */
        font-size: 0.75rem;
        text-indent: 5px;
        justify-content: center; /*horizontally center text in flex*/
        text-align: center;
        flex-basis: 25%;
        line-height: 1.2rem; /*vertically centers text without flex (which removes ...)*/
        padding: 0.75rem 0.3rem
    }
    .field-value span{
        text-align: center;
        font-size: 0.75rem;
        text-indent: 5px;
    }
}

