/******************************************************************************/
/************** Styling of 'no-products-banner' container *********************/
/******************************************************************************/

.no-products-banner { /*  Banner for when no products is viewed */

  display: flex; /* display and positioning */
  flex-direction: column;
  margin: 110px auto auto auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;

  width: 84%; /* container dimensions/shape */
  max-width: 400px;
  padding: 1.75rem 0.75rem;

  background-color:#f8f8f8;

  border-radius: 10px; /* border styling */
  border: 1px solid #368bda;
  box-shadow: 0px 0px 6px 5px rgba(9, 85, 151, 0.7);
}

@media screen and (max-width:380px) {
  .no-products-banner {
     font-size: 1rem;
  }
}

/******************************************************************************/
/************** Styling of Products loading notice ****************************/
/******************************************************************************/

.products-loading-notice { /* Notice when products are loading (contains 'pulse' loader)*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 4.5rem auto auto auto;

    width: 80%; /* container dimensions/shape */
    max-width: 480px;
    height: 200px;
    padding: 1.75rem 0.75rem;

    background-color:#f8f8f8;

    border-radius: 10px; /* border styling */
    border: 1px solid #bbbbbb;
    box-shadow: 0px 0px 6px 5px rgba(77, 79, 80, 0.7);
}

#loading-notice-text { /* Styling of text inside 'loading' notice */
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: bold;
}


@media screen and (max-width: 767px) {
  .products-loading-notice{ /* margin-top adjusted to padding-top of .products-page (next section) for <=767px */
    margin-top: 4.5rem;
  }
}

@media screen and (max-width: 460px) {
  .products-loading-notice{ /* margin-top adjusted to padding-top of .products-page (next section) for <460px */
    margin-top: 5rem;
  }
  #loading-notice-text { /* Shrink loading text for mobile screen */
    font-size: clamp(1.5rem, 8vw, 2.25rem);
  }
}


/******************************************************************************/
/************** Styling of Main container of product page *********************/
/******************************************************************************/

.products-page { /* Main container of product page */
  padding-top: 4.5rem;
  padding-bottom: calc(2rem + var(--footer-height)); /* add footer height to bottom padding */
  text-align: center;

  /* Background image for all '/product' routes */
  background-image: var(--background-image);
  background-size: var(--background-img-size);
 
  min-height: 100vh !important;

  box-sizing: border-box !important;
  position:relative;
}

@media screen and (max-width: 767px) {
  .products-page{
      padding-top: 3.5rem;
  }
}

@media screen and (max-width: 460px) {
  .products-page{
      padding-top: 2rem;
  }
}

/******************************************************************************/
/********** Styling of Pagination button at bottom of product page ************/
/******************************************************************************/

.pagination-buttons { /* Pagination buttons container*/
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.pagination-buttons button { /* Default styling of each pagination buttons*/
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
  outline: none;

  /*margin-bottom: 20px; /* Due to unable to add margin-bottom for .pagination-buttons 
                          (likely due to styling in index.html page), margin-bottom added here as work around.  */
}

.pagination-buttons .unselected-button { /* Color indicator showing that button is NOT on current page */
    color: #3f3f3f;
    background-color: #fff;
    border: 1px solid #adadad;
}
.pagination-buttons .unselected-button:hover {
    color: beige;
    background-color: #808080;
    border: 1px solid #505050;
}

.pagination-buttons .selected-button { /* Color indicator showing that button is on current page */
  color:beige;
  background-color: #9e9e9e;
  border: 1px solid #505050;

}

.pagination-buttons button:active {
  transition: 0.2s;
  transform: scale(0.90);
}

