.custom-password-input-wrapper { /* Default <div> holding custom password input component*/

    position: relative; /* for abosolute positioning of button */

}

.custom-password-input-wrapper > input { /* main html <input> with 2rem padding room for icon space */
  padding-right: 2rem;  
}

.custom-password-input-wrapper > button { /* styling for toggle icon button */
  
  position: absolute;         /* absolute positioning of button */
  right: 0.5rem;
  
  transform: translateY(50%); /* vertically centers eye icon(s) */

  border: none; /* removes button border and background to blend with <input>*/
  background: none;

  cursor: pointer;
}

.eye-icon { /* styling of icon(s) itself */
    color: rgba(0, 0, 0, 0.625);
    height: 1.25rem;
    aspect-ratio: 1;
}