/************************************************************************************************************************************************************/
/************************************************************************************************************************************************************/
/************************************** 'Secure Checkout' Navigation buttons ********************************************************************************/
/************************************************************************************************************************************************************/
/************************************************************************************************************************************************************/

.empty-header{ /* "empty" text area to get background element to cover all the way to top */
    background-color: #f1f1f1;
    color: #00000000;
    height: 0;
}

.prev-page-buttons-header{ /* actual navigation button(s) wrapper */
    display: flex;
    flex-direction: row;
    position: fixed;

    top: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;

    background-color: #757b8d;

    gap: 1rem;
    height: 2.5rem;
    width: 100%;

    color:rgb(250, 252, 253);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
}

@media screen and (max-width: 490px) { /* make button/text in buttons header mobile responsive */
    .prev-page-buttons-header{
        font-size: clamp(0.5rem, 4.5vw, 1.4rem);
        height:    clamp(1.5rem, 10vw, 2.5rem);
        gap:       clamp(0.5rem, 4vw, 1rem);
    }
}

#prev-page:hover, 
#cont-shop:hover { /* Style button on hover and press */
    text-decoration: underline;    
    cursor: pointer;
}
#prev-page:active, 
#cont-shop:active {
    transform: scale(0.9);
}

/************************************************************************************************************************************************************/
/************************************************************************************************************************************************************/
/************************************************* 'Secure Checkout' Page Title *****************************************************************************/
/************************************************************************************************************************************************************/
/************************************************************************************************************************************************************/

.page-title { /* Page header title 'SECURE CHECKOUT' Styling */
    display: flex;
    justify-self: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 2.6rem;
    margin-bottom: 0.8rem;
}

@media screen and (max-width: 430px) { /* Make page title response for mobile screen size */
    .page-title {
        font-size: clamp(1.8rem, 9vw, 2.4rem);
        margin-top: clamp(1.8rem, 9vw, 2.6rem);
    }
}

/************************************************************************************************************************************************************/
/************************************************************************************************************************************************************/
/************************************************ Dividers (used to divide content) styling *****************************************************************/
/************************************************************************************************************************************************************/
/************************************************************************************************************************************************************/

.checkout-divider {
    background-color: #505050;
    height: 4px;
    width: 96%;
}

#div1 { margin: 0.3rem auto 1rem auto; }
#div2 { margin: 1rem auto; }

@media screen and (max-width: 550px) {
    .checkout-divider {
        width: 98%;
    }
    #div1 { margin: 0.3rem auto; }
    #div2 { margin: 0.3rem auto; }
}

#div3 { margin: 0.3rem auto 1rem auto; }
#div4 { margin: 1rem auto; }

/************************************************************************************************************************************************************/
/************************************************************************************************************************************************************/
/**************************************************** (SECTION 1) Checkout Cart Container Styling ***********************************************************/
/************************************************************************************************************************************************************/
/************************************************************************************************************************************************************/

.checkout-cart-container { /* Main container holding all final 
                            * checkout procedured prior to purchase!
                            */
    display: flex;
    flex-direction: column;
    align-items: center; /* horiztonally centers nested items in flex */

    background: #ffffff;             /* Classic grey background */
    border: 2px solid #000;          /* Strong black border */
    border-radius: 0;                  /* Sharp corners */
    box-shadow: 4px  4px 0 #808080,
                -4px 4px 0 #808080;  /* Hard shadow for depth */
    
    padding: 10px;
    margin: auto;
    width: 84%;                     /* Example width */
    max-width: 560px;
    height: auto;

    font-family: Arial, Helvetica, sans-serif; /* default front for nested components*/
}

.checkout-cart-header { /* Title of checkout cart section */
    width: 96%;

    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 550px) {/* make header text scale responsively for small screens */

   .checkout-cart-header  { 
        font-size: clamp(0.9rem, 4.5vw, 1.6rem);
        text-indent: -0.2rem;
        font-weight: bold;
        white-space: nowrap;
    }
}

.checkout-cart-subtotal { /* Styling of subtotal label and value */
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    width: 96%;
    justify-content: space-between;
    margin-top: 1%;
}

#checkout-cart-label{ /* subtotal label bolded */
    font-weight: bold;
}


/************************************************************************************************************************************************************/
/************************************************************************************************************************************************************/
/********************************************** (SECTION 2) Shipping Address Container Styling **************************************************************/
/************************************************************************************************************************************************************/
/************************************************************************************************************************************************************/

.checkout-address-container { /* Entire container for shipping address form */
    display: flex;
    flex-direction: column;
    align-items: center; /* horiztonally centers nested items in flex*/

    background: #ffffff;             /* Classic grey background */
    border: 2px solid #000;          /* Strong black border */
    border-radius: 0;                  /* Sharp corners */
    box-shadow: 4px 4px 0 #808080,
                -4px 4px 0 #808080;     /* Hard shadow for depth */
    
    padding: 12px;
    margin: 3rem auto auto auto;
    max-width: 560px;
    width: 84%;                     
    height: auto;

    font-family: Arial, Helvetica, sans-serif; /* default front for nested components*/   
}

.checkout-address-header { /* Header title for shipping address form section */
    width: 96%;
    text-align: left;
    font-size: 1.6rem;  
    display: flex;
    flex-direction: column;  
}


.checkout-address-header::after { /* note under header */
    content: 'NOTE: Shipping is currently only available in U.S. states & territories.';
    color: #505050;
    font-size: 0.96rem;
    margin-top: 0.96rem;
    font-weight: bold;

    text-indent: -54px; /* First line indents -54px left */
    padding-left: 54px;  /* Overall padding of text is 54px left. 
                         * Together, this cause 2nd line to look 'indented'
                         * and align after the 'NOTE:' word.
                         */

}

@media screen and (max-width: 352px) {/* make header text scale responsively for small screens */

   .checkout-address-header  { 
        font-size: clamp(0.9rem, 7.5vw, 1.6rem);
        margin-left: -0.2rem;
        white-space: nowrap;
    }
    .checkout-address-header::after{
        font-size: 0.825rem;
        text-indent: -45px;
        padding-left: 45px;
        margin-left: 0.1rem;
        white-space: wrap;
    }
}

.required-fields-notice { /* holds required fields notice and 'upload profile data' button */
    display: flex;
    flex-direction: row;
    width: 96%;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 0.5rem auto;
}


.required-fields-notice #notice-label { /* required fields notice */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    width: 30%;
}

@media screen and (max-width: 420px) {
    .required-fields-notice {
        flex-direction: column;
        align-items: baseline;
    }

    .required-fields-notice #notice-label {
        width: 100%;
        margin-bottom: 0.4rem;
    }

}

.required-fields-notice #upload-profile-data { /* contains button */
    width: 300px;
}

#upload-profile-data button { /* button to upload profile data to address from */
    border-radius: 6px;
    border: 1px solid #858585;
    box-shadow: 0px 0px 3px 1px #858585;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.96rem;
    padding: 0.25rem;
    cursor: pointer;
}

@media screen and (max-width: 550px) { /* Set wrapper of 'upload profile' button
                                        * to width auto. This will "cause" the 
                                        * button to be pushed right due to parent
                                        * wrapper using 'justify-content: space-evenly'. 
                                        */
     #upload-profile-data  {
        width: auto !important;
    }
}

#upload-profile-data button:hover{
    background-color: #c7c7c7;
    box-shadow: 0px 0px 3px 1px rgb(112, 112, 112);
}

#upload-profile-data button:active{ transform: scale(0.95); }




.checkout-label-and-input { /* General wrapper with field label and input textbox, dropdown, etc. */
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
    width: 96%;
    margin: 1rem auto;
}

.checkout-label { /* shipping address input field label */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.96rem;
    width: 30%;
}

.checkout-input input { /* input for shipping address field label */
    width: 300px;
    height: 28px;
    border-radius: 4px;
    background-color: #e9e9e9;
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0.5rem;
}

@media screen and (max-width: 550px) {

    .checkout-input input {
        width: 220px;
    }

    .checkout-label {
        width: auto;
        text-align: left;
    }
}

@media screen and (max-width: 450px) {
    .checkout-label-and-input {
        align-items: baseline;
        flex-direction: column;
        text-align: left;
    }
    .checkout-input {
        width: 100%;
    }
    .checkout-input input {
         width: 100%;
    }
}


#state-dropdown-input { /* wrapper for state dropdown menu component */
    width: 300px;
    height: 28px;
}

@media screen and (max-width: 550px) { /* As width shrinks make room for 
                                          label and field for row orientation
                                          in checkoutStateDropDown.css */
    #state-dropdown-input { width: 220px; }
}

@media screen and (max-width: 450px) { /* From checkoutStateDropDown.css during column 
                                          orientation, make dropdown container max-width 
                                          to fill empty space.*/
    #state-dropdown-input { width: 100%; }
}


.update-profile-data { /* styling for checkbox to save 
                          shipping/home adddress to profile. */
    margin-top: 1rem;
    width: 96%;
    display: flex;
    gap: 7px;
}
.update-profile-data input {
    width: 0.96rem;
    height: 0.96rem;
    cursor: pointer;
}
.update-profile-data label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.96rem;
    color: #707070;
    cursor: pointer;
}

/************************************************************************************************************************************************************/
/************************************************************************************************************************************************************/
/***************************************** (SECTION 3) Order Summary information section ********************************************************************/
/************************************************************************************************************************************************************/
/************************************************************************************************************************************************************/

.checkout-order-summary-container { /* Container holds entire order summary section */
    display: flex;
    flex-direction: column;
    align-items: center; /* horiztonally centers nested items in flex*/

    background: #ffffff;               /* Classic grey background */
    border: 2px solid #000;            /* Strong black border */
    border-radius: 0;                  /* Sharp corners */
    box-shadow: 4px 4px 0 #808080,
                -4px 4px 0 #808080;     /* Hard shadow for depth */
    
    padding: 12px;
    margin: 3rem auto auto auto;
    max-width: 560px;
    width: 84%;                     
    height: auto;

    font-family: Arial, Helvetica, sans-serif; /* default front for nested components*/    
}


.checkout-order-summary-header { /* subheader title for order summary */
    text-align: left;
    width: 96%;
    font-size: 1.6rem;
}
.checkout-order-summary { /* wrapper for order summary fields and values */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}


.checkout-subtotal { /* Order summary subtotal and label */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    font-size: 1.4rem;
}
#checkout-subtotal-label {
    font-weight: bold;
}


.checkout-shipping-cost { /* Order summary shipping cost and label*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    margin-top: 1rem;
    font-size: 1.4rem;
}
#checkout-shipping-cost-label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
#checkout-shipping-cost-label::after { /* Shipping cost description UNDER shipping cost label */
    content:'For overseas states and territories (Alaska, Hawaii, Guam, etc.), shipping is $15.00. Otherwise, shipping in all mainland states (California, Florida, Washington D.C., etc.) costs $8.00.';
    font-size: 0.95rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    width: 65%;
}
@media screen and (max-width:468px) {
    #checkout-shipping-cost-label::after { 
        width: 75%;
        font-size: 0.8rem;
    }
}


.checkout-sales-tax{ /* Order summary sales tax and label */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    margin-top: 1rem;
    font-size: 1.4rem;
}
#checkout-sales-tax-label {
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
#checkout-sales-tax-label::after { /* explanation of sales tax calculation */ 
    content:'Currently 6% tax for all sales.';
    font-size: 0.95rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    width: 100%;
}
@media screen and (max-width:468px) {
    #checkout-sales-tax-label::after { 
        width: 100%;
        font-size: 0.8rem;
    }
}
@media screen and (max-width:356px) {
    #checkout-sales-tax-label::after { 
        width: 90%;
        font-size: 0.8rem;
    }
}



.checkout-order-total { /* Total/Final cost in order summary (and label) */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;

    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.4rem;

    background-color: #505050;
    color: #ffffff;

}
#checkout-order-total-label {
        font-weight: bold;
}


@media screen and (max-width: 400px) {
    .checkout-order-summary-header { 
        font-size: clamp(0.9rem , 6.5vw, 1.6rem);
    }

    .checkout-subtotal,
    .checkout-shipping-cost,
    .checkout-sales-tax,
    .checkout-order-total {
        font-size: clamp(0.9rem, 5.8vw, 1.4rem);
    }
}


